.header-wrapper {
  margin-top: 120px;
}

.header {
  height: 400px;
  width: 100%;
  background-color: #8389a1;
  background-image: url("/images/back-pattern.png");
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-name h2 {
  margin: 0px;
}