.tweet {
  margin-top: 40px;
  border: 4px solid #545149;
  padding: 15px;
  background-color: white;
}

.tweet header {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

.tweet .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet img {
  width: 90px;
  padding-right: 15px;
}

.tweet header h3.name {
  font-weight: normal;
}

.tweet header h3.user {
  color: #888477;
}

.tweet .users-tweet {
  padding: 0px 15px;
  border-bottom: 5px solid #545149;
}

.tweet div p {
  font-weight: bolder;
  overflow-wrap: break-word;
}

.tweet footer {
  font-size: 20px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.fas {
  padding-left: 10px;
}

.tweet:hover {
  box-shadow: 12px 12px 2px 1px #dbdad6;
}

.fas.fa-bookmark:hover,
.fas.fa-retweet:hover,
.fas.fa-heart:hover {
  color: #8F4FCF;
}
